.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 60px;
}

.stats__points {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 15px 0 0;
}

.stats__point {
  font-size: 48px;
  font-weight: 700;
}

.stats__charts {
  margin: 0 0 0 15px;
  display: flex;
}

.stats__chart {
  display: flex;
  align-items: center;
}

.stats__label {
  margin: 0 15px 0 0;
  padding: 5px;
  border-bottom: 1px solid $primary-contrast;
}

.stats__bar {
  background: $primary-colour;
  color: $primary-contrast;
  padding: 5px 5px 5px 10px;
  border-bottom: 1px solid;
  &[data-bar="2"] {
    width: 60px;
  }
  &[data-bar="1"] {
    width: 30px;
  }
  &[data-bar="4"] {
    width: 120px;
  }
  &[data-bar="6"] {
    width: 180px;
  }
}